header {
    margin: 0;
    background: #3C3633;
    color: #F8F5F1;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
}
h2 {
    margin: 0;
    font-size: 1em;
}

h2 a,
h2 a.active {
    text-decoration: none;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e2e8f0;
}
nav a {
    padding: 1em 0.5em;
    color: #F8F5F1;
    border-bottom: 4px solid transparent;
    text-decoration: none;
}
nav a.active {
    text-decoration: none;
    color: #D4A373;
}

a {
    display: inline-block;
    text-decoration: none;
}
a.active {
    font-weight: bolder;
    text-decoration: underline;
}