---
const today = new Date();
import '../styles/footer.css'
---

<footer class="site-footer">
	<div class="footer-container">
		<p class="footer-quote">Las palabras más hermosas suelen ver la luz después de tocar fondo.</p>
		<hr class="footer-divider">
		<div class="footer-bottom">
			<p class="copyright">&copy; {today.getFullYear()} Ivan F. Calle. Todos los derechos reservados</p>
			<div class="footer-social">
				<a href="https://www.instagram.com/ivanf.calle01" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram icon"></i></a>
                <a href="https://github.com/ivanfc7" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github icon"></i></a>
                <a href="mailto:ivanflores521111@gmail.com"><i class="fa-solid fa-envelope icon"></i></a>
			</div>
		</div>
	</div>
</footer>

