---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
import '../styles/header.css';
---

<header class="main-header">
	<nav class="nav-container">
		<h2 class="logo"><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Portada</HeaderLink>
			<HeaderLink href="/cuento">Cuentos</HeaderLink>
			<HeaderLink href="/poema">Poemas</HeaderLink>
		</div>
	</nav>
</header>
