---
const themes = [
    {value: 'light', label: 'Claro'},
    {value: 'dark', label: 'Oscuro'},
    {value: 'sepia', label: 'Sepia'}
]
---

<select id="theme-select" aria-label="Seleccionar Tema">
    {themes.map(theme => (
        <option value={theme.value} title={theme.label}><i class="fa-soli fa-palette icono-theme"></i></option>
    ))}
</select>

<script>
    const select = document.getElementById('theme-select') as HTMLSelectElement;
    const root = document.documentElement;
  
    // 1. Leer el tema guardado anteriormente o usar el por defecto
    const savedTheme = localStorage.getItem('theme') || 'light';
    
    // 2. Aplicar el tema al cargar la página y sincronizar el select
    root.setAttribute('data-theme', savedTheme);
    if (select) select.value = savedTheme;
  
    // 3. Escuchar los cambios del usuario
    select?.addEventListener('change', (e) => {
      const target = e.target as HTMLSelectElement;
      const selectedTheme = target.value;
      
      // Cambia el atributo en el HTML de inmediato
      root.setAttribute('data-theme', selectedTheme);
      // Guarda para futuras visitas
      localStorage.setItem('theme', selectedTheme);
    });
</script>